html, body{
    position: relative;
    z-index: -3;
}
.head{
    position: relative;
    z-index: -2;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    border-bottom: 0.5em solid gray;

}

.font {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;

}

h1{
    font-size: 2.8vw;
    padding: 1% 25% 1% 42%;
    margin: 0.67em 0;
    
}

#animate{
    margin-bottom: 1em;
    opacity: 100%;
}

#animate2{
    z-index: -1;
    position: absolute;
    left: 30%;
    width: 40%;
    
    opacity: 0%;
    top: 0%;
    height: 627px;
}



.p-head{

   
    position: absolute;
    left: 31%; 
    top: 4em;
    text-shadow: 2px 2px 0.4em rgb(141, 40, 40), -2px -2px 0.4em rgb(141, 40, 40), 0px 0px 1em black;

}

.titre-head {
    width: 30%; 
    font-size: 1.5em;  


}

.genre-head{
    width: 15%;
    left: 31%;
    font-size: 1em;
    top: 10em;
}

.real-head{
    width: 30%;
    left: 31%;
    font-size: 1em;
    top: 12em;

}

.acteur-head{
    width: 30%;
    left: 31%;
    font-size: 1em;
    top: 14.5em;

}

.duree-head{
    width: 30%;
    left: 31%;
    font-size: 1em;
    top: 18em;

}

.syno-head{
    width: 30%;
    left: 31%;
    font-size: 0.7em;
    top: 29em;

}

#animate3{
    opacity: 0%;
}
#animate4{
    opacity: 0%;
}
#animate5{
    opacity: 0%;
}
#animate6{
    opacity: 0%;
}
#animate7{
    opacity: 0%;
}
#animate8{
    opacity: 0%;
}


.form-control{
    margin-top: 4vw;
}

input.empty {
    font-family: 'Roboto', sans-serif, FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    position: relative;
}
ul{
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
li {
    max-height: 190px;
    display: block;
}




.affiche {
    margin: 0.5% 4.16666%;
    background-color: black;
    max-height: 190px;
    height: 190px;
    width: 7.65em;
    transition: width 0.5s;
    position: relative;
    display: inline-block;

}

.affiche:hover{

    width: 8em;
}

.affiche:hover .img-affiche{
    filter:blur(8px);
}

.affiche:hover .titre-affiche{
    filter:blur(8px);
}

.spe-p{
    visibility: hidden;
    position: absolute;
    bottom:70px;
    left: 1.20em;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;

}
.affiche:hover .spe-p{
    visibility: visible;
}



.hide {
    display: none;
}

.img-affiche {
    height: 10em;
    width: 100%;
}

.titre-affiche{
    height: 27.4443px; 
    text-align: center;
    margin: 0;
    padding-top: 0.2em;
    font-size: 20px;
    font-size: 1vw;
    font-size: 0.8em;
}

.resp-font{
    font-size: 0.64em;
    height: 27.95px;

}

.resp-mega-font{
    font-size: 0.56em;

}
.resp-mega-mega-font{
    font-size: 0.48em;

}
.resp-mega-mega-mega-font{
    font-size: 0.56em;
    overflow-wrap: break-word;

}
.resp-mega-mega-mega-mega-font{
    font-size: 0.48em;

    overflow-wrap: break-word;
}

.real-affiche{
    text-align: center;
    margin: 0;
    padding: 0.3em 0;
}

.pagination-container {

    display: flex;
  
    align-items: center;
  
    bottom: 0;

    left: 46%;
  
    justify-content: center;
  
  }
  
  .pagination-number, .pagination-button{
  
    font-size: 1.1rem;
  
    background-color: transparent;
  
    border: none;
  
    margin: 0.25rem 0.25rem;
  
    cursor: pointer;
  
    height: 2.5rem;
  
    width: 2.5rem;
  
    border-radius: .2rem;
  
  }
  
  .pagination-number:hover, .pagination-button:not(.disabled):hover {
  
    background: gray;
  
  }
  
  .pagination-number.active {
  
    color: #fff;
  
    background: black;
  
  }


  input[type=button]{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 95px 3.8em ;
    opacity: 0%;
    
}
 
  